
  <div class="container p-5">
    <div class="card mb-3 mx-auto" style="width:760px;">
      <div class="row g-0">
        <div class="col-md-6" style="padding: 0px;">
          <img src="../assets/img/login.png" alt="imagen decorativa" style="width: 100%; height: 100%;">
        </div>
          <div class="card-header col-md-6" style="background-color:rgb(107, 70, 28); color:lightcyan;">
            <h3 style="text-align: center;">Iniciar sesion</h3>
          <div *ngIf="!reintentar" class="card-body" style="background-color:burlywood;">
            <form (submit)="ingresar()">
              <div class="form-group">
                <div class="container-fluid">
                  <div class="mb-3">
                    <label for=""> <b> Usuario</b> </label>
                    <input type="text" name="nombre" [(ngModel)]="user.id" placeholder="Ingrese su Usuario"
                      class="form-control" autofocus>
                  </div>
                  <div class="mb-3">
                    <label for=""> <b> Contraseña</b> </label>
                    <input type="password" name="password" [(ngModel)]="user.password"
                      placeholder="Ingrese su Contraseña" class="form-control">
                  </div>
                  <button class="btn btn-success btn-block">Ingresar</button>
                  <a href=""> <b> ¿Olvidaste tu contraseña?</b></a>
                </div>
              </div>
            </form>
          </div>
          <div *ngIf="reintentar" class="card-body">
            {{mensaje}} <br>
            <a class="btn btn-info" (click)=recargarForm()>Reintentar</a>
            <a class="btn btn-danger" routerLink="../principal">Cancelar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

