<body>
  <div class="container p-5">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="mb-3">
          <div class="card-header" style="background-color:darkcyan; color:lightcyan">
            <h3 style="text-align: center;">Iniciar sesion</h3>
          </div>
          <div *ngIf="!reintentar" class="card-body" style="background-color:lightcyan;">
            <form (submit)="ingresar()">
              <div class="form-group">
                <div class="container-fluid">
                  <div class="mb-3">
                    <label for=""> <strong> Nombre</strong> </label>
                    <input type="text" name="nombre" [(ngModel)]="user.id" placeholder="Ingrese su Nombre" class="form-control" autofocus>
                  </div>
                  <div class="mb-3">
                    <label for=""> <strong> Contraseña</strong> </label>
                    <input type="password" name="password" [(ngModel)]="user.password" placeholder="Ingrese su Contraseña" class="form-control">
                  </div>
                  <button class="btn btn-success btn-block" >Ingresar</button>
                  <a href=""> <strong> ¿Olvidaste tu contraseña?</strong></a>
                   
                </div>
              </div>
            </form>
          </div>
          <div *ngIf="reintentar" class="card-body">
            {{mensaje}} <br>
            <a class="btn btn-info" (click)=recargarForm()>Reintentar</a> 
             <a class="btn btn-danger" routerLink="../principal">Cancelar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
