<table id="perfilABasico">

    
   
    <ul id="datosPrimeros">
        <br>
        <br>
        <ul id="foto">
        <li >
        Foto
        </li>
        </ul>  
        <br>
        <br>
        <br>
        <br>
        <li>

            <ul>
                
                <a class="btn btn - botonInteres" id="interes">Mostrar interes</a>
                
            
                &nbsp;&nbsp;

            
                <a class="btn btn - botonDador" id="dador" (click)="irADador()">Dador</a>
                
            

            </ul>     
        

        </li>
        <li >
            <ul id="espacio">
            </ul>
            
        </li>


    </ul>
    



        <br>
        <br>
        <li >
           
            
            <ul id="corriendo">
                <li >
                    
                    Nombre: {{Animal.nombre}}
                    
                </li>
                <li>                   

                        Tipo: {{Animal.tipo}}
                        
                </li>
                <li>
                    

                        Sexo: {{Animal.sexo}}
                        
                </li>
                <li>
                    

                    Edad: {{Animal.fNac}}
                    

                </li>
            </ul>
            
            &nbsp;&nbsp;
            &nbsp;&nbsp;
            <ul id="corriendo">
                <li>
                    

                        Tamaño: {{Animal.tamano}}
                        
                </li>
                <li>
                    
                        <!-- Direccion: -->
                        Peso: {{Animal.peso}}
                        
                </li>
                <br>
                <li>
                    

                        Estado de adopcion: 
                        &nbsp;&nbsp; <a class="btn btn - botonEstado" > Estado</a>
                    
                                        
                </li>
            </ul>
            
            &nbsp;&nbsp;
            &nbsp;&nbsp;
            &nbsp;&nbsp;
            &nbsp;&nbsp;
            &nbsp;&nbsp;
            &nbsp;&nbsp;
            &nbsp;&nbsp;
            &nbsp;&nbsp;
            &nbsp;
            &nbsp;
            <ul id="corriendo">
                             

                    <a class="btn btn - botonDatosMedicos" > Datos Medicos</a>
                                  

            </ul>


        </li>

        

</table>





