#logout{
    cursor: pointer;
}

.boton{
    font-size:14px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    color:white;
    background:rgb(12, 161, 37);
    border:0px;
    width:140px;
    height:40px;
}

.boton2{
    font-size:12px;
    font-weight:bold;
    color:white;
    background:rgb(128, 49, 12);
    border:0px;
    width:100px;
    height:30px;
}


#menu {
    float:center;
    left:50%;
    list-style-type:none;
    margin:0 auto;
    padding:0;
    position:relative;
    
}
   
#menu li {
    float:center;
    position:relative;
    right:50%;
    display: flex;
  justify-content: center;
  align-items: center;
}









body {
    font-family: "Segoe UI", sans-serif;
    font-size:100%;
    margin:0;
    padding:0;
}


input#abrir-cerrar {
    visibility:hidden;
    position: absolute;
    top: -9999px;
}



.cerrar {
    display:none;
}

#sidebar {
    width:0;
}

#contenido {
    margin-left:0;
}

input#abrir-cerrar:checked ~ #sidebar {
    width:200px;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"], input#abrir-cerrar:checked ~ #contenido {
    margin-left:200px;
    transition: margin-left .4s;
}


input#abrir-cerrar:checked + label[for="abrir-cerrar"] .cerrar {
    display:inline;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .abrir {
    display:none;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #FAE2D7;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing:border-box;
    border:  rgb(175, 170, 167) 1px solid;
}

.sidebar .boton-cerrar {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    display: block;
    padding: 0;
    line-height: 1.5rem;
    margin: 0;
    height: 32px;
    width: 32px;
    text-align: center;
}

.sidebar ul, .sidebar li{
    margin:0;
    padding:0;
    list-style:none inside;
}

.sidebar ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width:200px;
}

.sidebar a {
    display: block;
    font-size: 120%;
    color: #eee;
    text-decoration: none;
    
}

.sidebar a:hover{
    color:#fff;
    background-color: #f90;

}

h1 {
    color:#f90;
    font-size:180%;
    font-weight:normal;
}
#contenido {
    transition: margin-left .4s;
    padding: 1rem;
}

.abrir-cerrar {
    color: #2E88C7;
    font-size:1rem;   
}

.navbar {
background-color: #FAE2D7;
border: rgb(175, 170, 167) 1px solid;
}


















